body {
	background: url(../images/brickwall.png);
}

.container {
	background: #fff;
	border-left: 1px solid #dfdddd;
	border-right: 1px solid #dfdddd;
}

/* Шапка */
header {
	height: 120px;
}

	/* Логотип или другая инфа */
header .info {
	float: left;
	width: 520px;
	padding-left: 9px;
	color: #1b1c1c;
}

	/* Баннер в шапке */
header .banner {
	width: 400px;
	height: 90px;
	outline: 1px solid #ccc;
	float: left;
	margin-top: 10px;
}

/* Навигация */
.navbar {
	margin: 0 auto 10px auto;
	width: 98%;
	clear: both;
}

/* Контент */
.content {
	width: 660px;
	padding: 10px;
}

/* Статья */
.post .image {
	width: 150px;
	float: left;
	margin-right: 20px;
}

.post h1 {
	font-size: 24px;
	line-height: 26px;
	margin: 10px 0;
}

.post h1 span {
	font-size: 18px;
}

.meta {
	font-size: 12px;
	padding: 5px;
}

/* Комментарии + форма */
 
 /* Комментарии + форма */

	/* Контейнер комментария */
.commentlist {
	padding: 0;
	text-align: justify;
	width: 650px;
	margin: 10px auto;
	display: table;
}

.commentlist .comment {
	padding: 5px;
	list-style: none;
	display: block;
}

.commentlist .comment .comment {
	margin: 10px 10px 10px 10px;
	padding: 5px;
	width: auto;
}

	/* Аватарка, имя */
.comment-author {
	width: 80px;
	float: left;
	text-align: center;
}

	/* Имя автора */
.comment-author .fn {
	font-weight: bold;
}

	/* двоеточие */
.comment-author .says {
	display: none;
}

	/* Сама аватарка тег img */
.avatar {
	width: 60px;
	border-right: 1px solid #dedcdc;
	border-bottom: 1px solid #dedcdc;
	padding: 5px;
	background: #f8f6f6;
}

	/* Дата добавления */
.comment-meta {
	width: 83%;
	float: left;
	border-bottom: 1px dashed #84a719;
}

	/* Текст комментария */
.commentlist p {
	margin: 15px 0 0px 20px;
	padding-bottom: 10px;
	width: 80%;
	float: left;
	border-bottom: 1px dashed #84a719;
}

	/* Кнопка "Ответить" */
.commentlist .reply {
	width: 98%;
	float: left;
	text-align: right;
	padding: 0 0 5px 0;
}

	/* Форма отправки комментария */
.form textarea {
	resize: vertical;
	width: 500px;
	height: 150px;
}

/* Сайдбар */
.sidebar {
	padding: 10px;
	width: 239px;
	border-left: 1px dashed #ccc;
}

.sidebar-header {
	font-size: 26px;
	margin: 0;
}

/* Футер */
footer {
	background: url(../images/simple_dashed.png);
	padding: 15px;
	color: #fff;
	clear: both;
}

footer a {
	color: #26b5f7;
}

footer a:hover {
	color: #26b5f7;
}

.footer-widget {
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.footer-widget h2 {
	color: #26b5f7;
	font-size: 18px;
	margin: 4px 0;
	line-height: 22px;
}